doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap' rel='stylesheet')
    script(src='https://kit.fontawesome.com/06ebbb64f8.js' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2' crossorigin='anonymous')
    link(rel='stylesheet' href='/css/reset.css')
    link(rel='stylesheet' href='/css/style.css')
    title= title
  body
    if user
      if user.username == 'AbuzCoder'
        nav(style="width:100%; height:70px;background:#000;") 
          ul(style="display:flex;justify-content:flex-end;align-items:center;height:100%;")  
            li(style="padding:15px 30px;")
              a(href="/admin", style="color:white;") Admin honasi
    .mob__header
      ul
        li
          a(href='/') 
           | Домашня страница
        li.lang
          a(href='/product/uz/'+product._id) UZ
      .mob__footer
        .mob__social
          a(href='#')
            svg(width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M15.9677 0.733398C7.14631 0.733398 0 7.79118 0 16.501C0 25.2108 7.14734 32.2686 15.9677 32.2686C24.7891 32.2686 31.9354 25.2108 31.9354 16.501C31.9354 7.79118 24.788 0.733398 15.9677 0.733398ZM23.8104 11.5357L21.1896 23.7307C20.996 24.5954 20.4747 24.8049 19.7474 24.398L15.7555 21.4927L13.8301 23.3238C13.6179 23.5333 13.4376 23.7114 13.0255 23.7114L13.3088 19.6993L20.7065 13.0993C21.0289 12.8195 20.6354 12.6608 20.2099 12.9406L11.0672 18.624L7.12674 17.4094C6.27067 17.1429 6.25109 16.5641 7.30702 16.1572L22.7019 10.2947C23.4169 10.0403 24.0412 10.4666 23.8094 11.5347L23.8104 11.5357Z' fill='#D1A56B')
          a(href='#')
            svg(width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M31.1169 0.733398H1.7364C1.02983 0.733398 0.458984 1.29709 0.458984 1.99481V31.0072C0.458984 31.7049 1.02983 32.2686 1.7364 32.2686H31.1169C31.8235 32.2686 32.3944 31.7049 32.3944 31.0072V1.99481C32.3944 1.29709 31.8235 0.733398 31.1169 0.733398ZM27.4284 9.93773H24.8776C22.8776 9.93773 22.4904 10.8759 22.4904 12.2556V15.2948H27.2647L26.642 20.0526H22.4904V32.2686H17.5125V20.0566H13.3489V15.2948H17.5125V11.7865C17.5125 7.7145 20.0314 5.49521 23.7119 5.49521C25.4764 5.49521 26.9893 5.62529 27.4324 5.68442V9.93773H27.4284Z' fill='#D1A56B')
          a(href='#')
            svg(width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M16.8857 0.733398C12.5449 0.733398 12.0039 0.754096 10.3051 0.825059C8.59939 0.907849 7.44558 1.16903 6.42751 1.55933C5.36199 1.95655 4.39703 2.57845 3.59988 3.3817C2.78417 4.16702 2.15402 5.12042 1.75438 6.1739C1.35913 7.17921 1.09463 8.31856 1.01079 10.0029C0.933938 11.6814 0.917969 12.2146 0.917969 16.501C0.917969 20.7874 0.938929 21.3215 1.01079 22.999C1.09463 24.6785 1.35913 25.8228 1.75438 26.8281C2.15664 27.8802 2.78644 28.8331 3.59988 29.6203C4.39516 30.4258 5.36067 31.048 6.42751 31.4427C7.44558 31.828 8.60438 32.0941 10.3051 32.1769C12.0049 32.2528 12.5449 32.2686 16.8857 32.2686C21.2264 32.2686 21.7674 32.2479 23.4662 32.1769C25.1669 32.0941 26.3257 31.827 27.3438 31.4427C28.4093 31.0454 29.3743 30.4235 30.1714 29.6203C30.9882 28.8358 31.6185 27.8822 32.0169 26.8281C32.4072 25.8228 32.6767 24.6785 32.7605 22.999C32.8374 21.3206 32.8533 20.7874 32.8533 16.501C32.8533 12.2146 32.8324 11.6804 32.7605 10.0029C32.6767 8.32349 32.4062 7.17329 32.0169 6.1739C31.6147 5.12173 30.9849 4.16886 30.1714 3.3817C29.377 2.57517 28.4113 1.95276 27.3438 1.55933C26.3257 1.16903 25.1669 0.907849 23.4662 0.825059C21.7664 0.749168 21.2264 0.733398 16.8857 0.733398ZM16.8857 3.57192C21.1486 3.57192 21.6576 3.59262 23.3424 3.66358C24.8964 3.73553 25.7428 3.99178 26.3048 4.20862C26.9995 4.46184 27.6282 4.86488 28.1453 5.38838C28.6745 5.89677 29.0811 6.51624 29.335 7.20089C29.5546 7.75578 29.8141 8.59157 29.887 10.1261C29.9588 11.7898 29.9798 12.2935 29.9798 16.502C29.9798 20.7105 29.9588 21.2141 29.881 22.8778C29.7971 24.4124 29.5376 25.2482 29.3191 25.8031C29.0166 26.5432 28.6793 27.0607 28.1223 27.6205C27.6035 28.1407 26.9752 28.5418 26.2818 28.7953C25.7269 29.0122 24.8685 29.2684 23.3085 29.3404C21.6147 29.4113 21.1156 29.432 16.8417 29.432C12.5679 29.432 12.0698 29.4113 10.374 29.3345C8.81997 29.2517 7.9626 28.9954 7.40066 28.7796C6.6421 28.4809 6.12209 28.1478 5.56515 27.5978C5.00321 27.0429 4.64589 26.5147 4.37041 25.7804C4.14684 25.2324 3.89132 24.3848 3.80848 22.8443C3.75159 21.1915 3.72464 20.6789 3.72464 16.4783C3.72464 12.2797 3.75159 11.7662 3.80848 10.0926C3.89132 8.55215 4.14684 7.7065 4.37041 7.15654C4.64589 6.4065 5.00421 5.89399 5.56515 5.3391C6.12109 4.79012 6.6421 4.4353 7.40066 4.15736C7.9626 3.94152 8.79901 3.68526 10.359 3.60839C12.0528 3.54827 12.5519 3.52658 16.8198 3.52658L16.8857 3.57192ZM16.8857 8.40825C15.809 8.40786 14.7429 8.61697 13.7482 9.02363C12.7534 9.43029 11.8496 10.0265 11.0883 10.7783C10.327 11.53 9.72323 12.4225 9.31141 13.4048C8.89959 14.3871 8.68782 15.4398 8.68822 16.503C8.68782 17.5661 8.89959 18.6189 9.31141 19.6011C9.72323 20.5834 10.327 21.4759 11.0883 22.2277C11.8496 22.9794 12.7534 23.5756 13.7482 23.9823C14.7429 24.389 15.809 24.5981 16.8857 24.5977C17.9623 24.5981 19.0284 24.389 20.0231 23.9823C21.0179 23.5756 21.9217 22.9794 22.683 22.2277C23.4443 21.4759 24.0481 20.5834 24.4599 19.6011C24.8717 18.6189 25.0835 17.5661 25.0831 16.503C25.0835 15.4398 24.8717 14.3871 24.4599 13.4048C24.0481 12.4225 23.4443 11.53 22.683 10.7783C21.9217 10.0265 21.0179 9.43029 20.0231 9.02363C19.0284 8.61697 17.9623 8.40786 16.8857 8.40825ZM16.8857 21.7592C13.9432 21.7592 11.5628 19.4085 11.5628 16.503C11.5628 13.5974 13.9432 11.2468 16.8857 11.2468C19.8281 11.2468 22.2086 13.5974 22.2086 16.503C22.2086 19.4085 19.8281 21.7592 16.8857 21.7592ZM27.3298 8.08497C27.3293 8.5873 27.1269 9.06887 26.767 9.42388C26.4071 9.77889 25.9192 9.9783 25.4105 9.9783C25.1589 9.9783 24.9099 9.92938 24.6775 9.83433C24.4451 9.73928 24.234 9.59997 24.0561 9.42434C23.8783 9.24871 23.7372 9.04021 23.6409 8.81074C23.5447 8.58126 23.4951 8.33532 23.4951 8.08694C23.4951 7.83857 23.5447 7.59262 23.6409 7.36315C23.7372 7.13368 23.8783 6.92518 24.0561 6.74955C24.234 6.57392 24.4451 6.4346 24.6775 6.33955C24.9099 6.2445 25.1589 6.19558 25.4105 6.19558C26.4655 6.19558 27.3298 7.04319 27.3298 8.08497Z' fill='#D1A56B')
        .mob__contact
          a(href='tel:+998 93 809 00 53') +998 93 809 00 53
          a(href='tel:+998 90 176 36 00') +998 90 176 36 00
    // header
    header
      .header__top.container-fluid
        a.logo(href='/')
          img(src="/img/tech.png", alt="" style="width:100px;")
        ul.header__nav
          li
            a(href='/')
             | Домашня страница
          li.lang
            a(href='/product/uz/'+product._id) UZ
        i.burger.d-lg-none.fas.fa-bars
    // catalog
    .catalog.container-fluid.catalog-page(style="background:black;")
      .container
        .card.text-center(style="background:transparent;")
          .card-img
            img(src=`/img/${product.img}`, alt="" style="max-width:100%; height:auto;width:auto;")
          .card-body
            h3.card-title #{product.name}
            .row
              .col-md-6
                p.text-white.text-left(style="font-size: 30px;")
                  if product.type
                   | Тип: #{product.type}
                   br
                  if product.square
                   | Площадь: #{product.square}
                   br
                  if product.Power
                   | Мощность: #{product.Power}
                   br
                  if product.display
                    | LED-Дисплей: #{product.display}
                    br
                  if product.curtains
                    | 4D шторки: #{product.curtains}
                    br
                  if product.coverings
                    | Golden Fin покрытия: #{product.coverings}
                    br
                  if product.remote
                    | Пульт: #{product.remote}
                    br
                  if product.refrigerantType
                    | Тип хладагента: #{product.refrigerantType}
                    br
                  if product.Blowing
                    | Обдув: #{product.Blowing}
                    br
                  if product.capacityOffered
                    | Предлагаемая мощность: #{product.capacityOffered}
                    br
              .col-md-6
                p.text-white.text-left.
                  #{product.message}
          a(href=`/catalog` style="background: #D1A56B;font-size: 25px;font-weight: 700;color: black;transition: 0.5s;padding: 10px 15px;border: none; display:inline-block;text-decaration:none; width:115px; margin:15px auto;")  Hазад 
    footer
      .container-fliud
        .footer.container
          a(href='#') Copyright OOO “Technobox” 2020
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js' integrity='sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s' crossorigin='anonymous')
    script(src='js/script.js')
